
$primary: #1D7874;

$theme-colors: (
  primary: $primary,
);

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #8064A2 !important;
}

@import "node_modules/bootstrap/scss/bootstrap";
